:root {
    --font-family: 'Poppins', sans-serif;
    --normal-font: 400;
    --bold-font: 700;
    --bolder-font: 900;
    --bg-color: #fcfcfc;
    --primary-color: #AED6F1;
    --secondary-color: #ff7235;
    --primary-shadow: #8b8eaf;
    --secondary-shadow: #a17a69;
    --bottom-margin: 0.5rem;
    --bottom-margin-2: 1rem;
    --line-height: 1.7rem;
    --transition: 0.3s;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

a:hover {
    color: var(--secondary-color);
}

body {
    font-family: var(--font-family);
}

button {
    font-size: 2.2;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #fc73b8;
}

button:hover {
    background-color: hsl(330, 68%, 62%);
}


/* Barra de navegación */

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: var(--bg-color);
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
    color: #3498DB;
}

nav h1 {
    color: var(--color-primario);
    font-size: 2rem;
}

nav img {
    height: 2rem;
    width: 4rem;
}

nav a {
    color: var(--color-primario);
    transition: var(--transicion);
}

nav a:hover {
    color: var(--valor-secundario);
    border-bottom: 2px solid var(--valor-secundario);
}

nav ul {
    display: flex;
    gap: 1.9rem;
}

nav ul li {
    font-weight: var(--negrita);
}

.menu-hamburguesa {
    color: var(--primary-color);
    font-size: 2rem;
    border: 0;
    background-color: transparent;
    cursor: pointer;
    display: none;
}

/* Sobre nosotros */

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 55.75rem;
    margin: auto;
}

.hero img {
    height: 20.5rem;
    width: 30.5rem;
}

.bio {
    width: 25rem;
    padding: 0.625rem;
    border-radius: 6px;
    box-shadow: 0px 2px 15px 2px var(--primary-shadow);
}

.bio h2 {
    margin-bottom: var(--bottom-margin);
}

.bio p {
    line-height: var(--line-height);
    padding: 0.3rem 0;
}

/* Mas sobre nosotros */

.mas-sobre {
    background-color: var(--primary-color);
    padding: 1rem 15rem;
}

.mas-sobre h2 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}

.mas-sobre p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/* Servicios */
.navegacion {

    display: flex;
    flex-direction: row;
}

.navy {

    display: flex;
    flex-direction: row;
}

.servicios {
    background-color: var(--primary-color);
    padding: 1rem 15rem;
}

.navy h3 {
    font-size: 2.2;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 15;
    border: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    color: white;
    background-color: #fc73b8;

}

.navy h3:hover {
    background-color: hsl(330, 68%, 62%);
}


.servicios h3 {
    margin-bottom: var(--bottom-margin);
    text-align: center;
}


.servicios p {
    line-height: var(--line-height);
    padding: 0.4rem;
}

/*Productos*/

.productos {
    background-color: var(--primary-color);
    padding: 1rem;
}

.productos h2 {
    background-color: #f29fe6;
    text-align: center;
    margin-top: 50px;
    font-size: 2rem;
    padding: 3rem;

}

.productos h3 {
    background-color: aliceblue;
    text-align: center;
    margin-top: 50px;
    font-size: 1,5rem;
}

.productos p {
    text-align: center;
    margin-top: 5px;
}
.slider-frame {
    width: 350px;
    height: auto;
    margin: 50px auto 0;
    overflow: hidden;

}

.slider-frame ul {
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 16s infinite alternate ease-in-out;
}

.slider-frame li {
    list-style: none;
    width: 100%;
}

.slider-frame img {
    width: 100%;

}

@keyframes slide {
    0% {
        margin-left: 0%;
    }

    20% {
        margin-left: 0%;
    }

    25% {
        margin-left: -100%;
    }

    45% {
        margin-left: -100%;
    }

    50% {
        margin-left: -200%;
    }

    70% {
        margin-left: -200%;
    }

    75% {
        margin-left: -300%;
    }

    95% {
        margin-left: -300%;
    }
}


.port {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
    max-width: 55.75rem;
    margin: auto;
}
.port img {
    height: 25.5rem;
    width: 35rem;
}


/* Footer */


.item1 {
    grid-area: miArea;
   
   
}


.grid-container {
    display: grid;
    grid-template-areas: 'miArea miArea miArea miArea';
    grid-gap: 10px;
    background-color: #f29fe6;
    padding: 10px;
}

.grid-container>div {
    background-color: rgba(248, 242, 242, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 20px;
}


/* Responsive */

@media screen and (max-width: 720px) {
    nav {
        padding: 1.5rem 1rem;
    }

    nav ul {
        position: fixed;
        background-color: var(--bg-color);
        flex-direction: column;
        top: 86px;
        left: 10%;
        width: 80%;
        text-align: center;
        transform: translateX(120%);
        transition: transform 0.5s ease-in;
    }

    nav ul li {
        margin: 8px;
    }

    .burger-menu {
        display: block;
    }

    nav ul.show {
        transform: translateX(0);
    }

    .hero {
        margin-top: -0.1rem;
        flex-direction: column;
        gap: 0;
    }

    .hero img {
        height: 25.5rem;
        width: 30rem;
    }

    .bio {
        margin-top: -0.1rem;
        width: 20.5rem;
    }

    .mas-sobre {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .mas-sobre h2 {
        text-align: center;
    }

    .mas-sobre p {
        text-align: justify;
    }

    .navy h3 {
        text-align: justify;
        display: flex;
        flex-direction: row
    }

    .servicios {
        margin-top: 2rem;
        padding: 1rem 3.5rem;
    }

    .servicios h3 {
        text-align: center;
    }

    .servicios p {
        text-align: justify;
    }

}

@media screen and (max-width: 420px) {
    .hero img {
        height: 20.5rem;
        width: 23rem;
    }

    .bio {
        width: 18.3rem;
    }
}
